body{
    font-family: 'Roboto', sans-serif;
    
}


.image-container {
    height: 250px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.image-container .image {
    height: 100%;
    width: 100%;
}

.category {
    font-size: .7em;
    padding: 1rem;
    font-weight: 200;
}

.title {
    padding: 1rem;
    font-weight: 500;
    height: 20vh;
    overflow: hidden;

}

.description {
    padding: 1rem;
    font-weight: 300;    
    /* text-overflow: ellipsis  ellipsis; */
    width: 100%;
    height: 200px;
    margin-bottom: 0;
    overflow: hidden;
}

.price{
    font-size: 2em;
    padding: 1rem;
    font-weight: 700;
}
.price .currency {
    font-size: .5em;
    font-weight: 100;
    color: brown;
    margin-left: .5em;
}
.rating {
    text-align: left;
    padding: 1rem;
}

.rating .count{
    padding: 1em;
}
.btn-custom {
    margin-bottom: 1rem;
    width: 250px;
    margin: 10px auto;
}

#showCatalog{
    width: 150px;
    display: block;
    margin: 100px auto;
}