<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views</title>
</head>
<body>  
    <h1 id="title"></h1>    

    <script>
        function loadData (){
            let views = localStorage.getItem('views')
            let title = document.getElementById('title')

            if(views == null) {
                title.innerText = "Hi, good to see you for the first time!"
            } else if(views <= 10) {
                title.innerText = "Hi, Black Friday SALES -50%!!!"
            }
            views++
            localStorage.setItem('views', views)

        }

        document.body.onload = loadData
    </script>

    
</body>
</html>