<ol>
    <li><a href="">Lorem ipsum dolor sit amet.</a></li>
    <li><a href="">Natus delectus dicta quia saepe.</a></li>
    <li><a href="">Libero magni rerum debitis. Magni?</a></li>
    <li><a href="">Earum repellat illo magnam modi.</a></li>
    <li><a href="">Voluptates enim reiciendis ducimus ad!</a></li>
    <li><a href="">Rem quasi vero rerum dolor.</a></li>
    <li><a href="">Facilis laborum magni ut vel!</a></li>
    <li><a href="">In, officia. Quam, unde numquam.</a></li>
    <li><a href="">Quod, ad. Fuga, ratione pariatur!</a></li>
    <li><a href="">Animi ad aliquid nisi mollitia.</a></li>
</ol>